<template>
  <div>
    <div>
      <br />
    </div>
    <h1>favorites</h1>
    <input type="text" v-model="search" placeholder="Search" />
    <md-table>
      <md-table-row>
        <md-table-head md-numeric>ID</md-table-head>
        <md-table-head class="center">Name</md-table-head>
        <md-table-head class="center">market_cap_rank</md-table-head>
        <md-table-head class="center">market_cap_change_24h</md-table-head>
        <md-table-head class="center">Icon</md-table-head>
        <md-table-head class="center">Actions</md-table-head>
      </md-table-row>

      <md-table-row v-for="(cat, n) in filteredItems" :key="cat.n">
        <md-table-cell md-numeric>{{ cat.market_cap_rank }}</md-table-cell>
        <md-table-cell>{{ cat.id }}</md-table-cell>
        <md-table-cell>{{ cat.current_price }}</md-table-cell>
        <md-table-cell>{{ cat.market_cap_change_24h }}</md-table-cell>
        <md-table-cell><img width="40px" :src="cat.image"/></md-table-cell>
        <md-table-cell>
          <md-button
            @click="removeCat(n)"
            style="height:30px;width:30px"
            class="md-fab md-primary"
          >
            <md-icon>❌</md-icon>
          </md-button></md-table-cell
        >
      </md-table-row>
    </md-table>
  </div>
</template>

<script>

export default {
  props: {
    cats:[]
  },
  data() {
    return {
      search: "",
    };
  },

  name: "TableBasic",
  components: {},

  computed: {
    filteredItems() {
      return this.cats.filter((cat) => {
        return cat.id.toLowerCase().indexOf(this.search.toLowerCase()) > -1;
      });
    },
  },
  methods: {
 
    removeCat(n) {
      this.cats.splice(n, 1);
      let parsed = JSON.stringify(this.cats);
      localStorage.setItem("cats", parsed);
    },
  },
};
</script>

<style lang="css" scoped>
.center {
  text-align: center;
}
</style>
