<template>
  <div>
    <div>
      <br />
      <h1>CryptoList</h1>
      <input type="text" v-model="searchtodo" placeholder="Search" />
      <br />
      <md-table>
        <md-table-row>
          <md-table-head md-numeric>ID</md-table-head>
          <md-table-head class="center">Name</md-table-head>
          <md-table-head class="center">market_cap_rank</md-table-head>
          <md-table-head class="center">market_cap_change_24h</md-table-head>
          <md-table-head class="center">Icon</md-table-head>
          <md-table-head class="center">Actions</md-table-head>
        </md-table-row>

        <md-table-row v-for="todo in filteredtodo" :key="todo.id">
          <md-table-cell md-numeric>{{ todo.market_cap_rank }}</md-table-cell>
          <md-table-cell>{{ todo.id }}</md-table-cell>
          <md-table-cell>{{ todo.current_price }}</md-table-cell>
          <md-table-cell>{{ todo.market_cap_change_24h }}</md-table-cell>
          <md-table-cell><img width="40px" :src="todo.image"/></md-table-cell>
          <md-table-cell>
            <md-button
              @click="addCat(todo)"
              style="height:30px;width:30px"
              class="md-fab md-primary"
            >
              <md-icon>⬇️</md-icon>
            </md-button></md-table-cell
          >
        </md-table-row>
      </md-table>
    </div>
    <Favorite :cats=cats />
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import _ from "lodash";
import Favorite from './Favorite.vue';
export default {
  props: {
    todo: {},
  },
   components: {
    Favorite,
  },
  data() {
    return {
      cats: [],
      indx: [],
      fix: [],
      search: "",
      searchtodo: "",
    };
  },

  name: "TableBasic",
  mounted() {
    this.$store.dispatch("loadItems");
    let test = JSON.parse(localStorage.getItem("cats"));
    for (let value of test) {
      fetch(`${process.env.VUE_APP_URL}/${value.id}`)
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          this.indx.push(data);
          if (this.indx.length != 0) {
            localStorage.setItem("cats", JSON.stringify(this.indx));
            this.cats = JSON.parse(localStorage.getItem("cats"));
            this.fix = JSON.parse(localStorage.getItem("cats"));
          }
        });
    }
  },
  computed: {
    ...mapGetters(["allTodos"]),
    ...mapState(["todos"]),

    filteredtodo() {
      return this.allTodos.filter((todo) => {
        return (
          todo.id.toLowerCase().indexOf(this.searchtodo.toLowerCase()) > -1
        );
      });
    },
  },
  methods: {
    addCat(todo) {
      if (!this.cats.includes(todo)) {
        this.fix.push(todo);
        this.cats = _.uniqBy(this.fix, "id");
      }

      var non_duplidated_data = _.uniqBy(this.cats, "id");

      let parsed = JSON.stringify(non_duplidated_data);
      localStorage.setItem("cats", parsed);
    },
  },
};
</script>

<style lang="css" scoped>
.center {
  text-align: center;
}
</style>
